@charset "UTF-8";
* {
  /*   border: solid 2px black; */
  vertical-align: top;
  position: relative;
  font-family: 微軟正黑體;
}

.bottom {
  height: 768px;
  padding: 0px;
  margin: 0px;
  font-size: 0;
}

#left, #right {
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
}

#left {
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
  background-color: #DDDDDD;
  text-align: center;
}

#right {
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

.name {
  font-size: 25px;
  border-style: none;
  top: 18%;
  bottom: 10%;
  color: #6D6B72;
}

hr.style1 {
  border-top: 4px double #F5F5F5;
  text-align: center;
  top: 50%;
}

.about {
  top: 60%;
}

.contact {
  font-size: 20px;
  border-style: none;
  top: 45%;
  bottom: 10%;
  font-weight: 100;
  color: #6D6B72;
  letter-spacing: 3px;
}

.fa-github {
  border: none;
  top: 50%;
  color: #6D6B72;
  position: relative;
}

.fa-user {
  border: none;
  position: relative;
  color: #6D6B72;
  margin-right: 55%;
  top: 19%;
}

.profile {
  border: none;
  position: relative;
  color: #6D6B72;
  margin-right: 20%;
  top: 16%;
}

.content {
  top: 30px;
  text-align: left;
}

hr.style {
  height: 3px;
  border: 0;
  box-shadow: 0 10px 10px -10px #C8C9C7 inset;
  width: 75%;
  margin-left: 10%;
  top: 17%;
}

hr.style2 {
  position: relative;
  height: 3px;
  border: 0;
  box-shadow: 0 10px 10px -10px #C8C9C7 inset;
  width: 75%;
  margin-left: 10%;
  top: 17%;
}

.intro {
  border: none;
  position: relative;
  top: 15%;
  margin-left: 22%;
  color: #6D6B72;
}

.intro2 {
  top: 20%;
  margin-left: 22%;
  margin-bottom: 15px;
  position: relative;
  border: none;
  color: #6D6B72;
}

.fa-pencil-square-o {
  border: none;
  top: 19%;
  margin-right: 55%;
  margin-top: 10px;
  color: #6D6B72;
}

.experience {
  border: none;
  position: relative;
  color: #6D6B72;
  margin-right: 18%;
  top: 16%;
}

hr.style3 {
  position: relative;
  height: 3px;
  border: 0;
  box-shadow: 0 10px 10px -10px #C8C9C7 inset;
  width: 65%;
  margin-left: 10%;
  top: 17%;
}

ol {
  list-style-type: decimal;
}

.l {
  top: 20%;
  position: relative;
  text-align: left;
}

.p {
  font-size: 10px;
  margin-left: 150px;
}

.fa-graduation-cap {
  top: 19%;
  margin-right: 55%;
  color: #6D6B72;
}

.education {
  position: relative;
  color: #6D6B72;
  margin-right: 18%;
  top: 16%;
}

.fa-trophy {
  top: 19%;
  margin-right: 55%;
  color: #6D6B72;
}

.certificate {
  position: relative;
  color: #6D6B72;
  margin-right: 18%;
  top: 16%;
}